@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primario: #F8EDE3;
    --color-secundario: #D0B8A8;
    --color-terciario: #8D493A;
    --color-cuaternario: blue;
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif; 
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-terciario);
}
.encabezado{
    padding: 2% 0% 0% 15%;
}
.encabezado_menu{
    display: flex;
    gap: 80px;
}
.encabezado_menu_link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundario);
    text-decoration: none;
}
.encabezado_menu_link:hover{
    color: var(--color-cuaternario);
}
.presentacion{
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.presentacion_imagen{
    width: 50%;
}
.presentacion_contenido{
    width: 50%;
    margin: 2% 0%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.presentacion_contenido_titulo{
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
}
.presentacion_contenido_texto{
    font-size: 1.125rem;
    font-family: var(--fuente-montserrat);
}
.presentacion_contenido_enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.presentacion_contenido_enlaces_titulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}
.presentacion_contenido_enlaces_link{
    width: 50%;
    color: var(--color-terciario);
    border: 2px solid var(--color-secundario);
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentacion_contenido_enlaces_link:hover{
    background-color: var(--color-terciario);
    color: var(--color-cuaternario);
}
.pie_de_pagina{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.25rem;
    font-weight: 400;
}
@media(max-width: 1200px){
    .encabezado{
        padding: 10%;
    }
    .encabezado_menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion_contenido{
        width: auto;
    }
}


